<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
		</Console>
		<File name="all_transactions" fileName="logs/transactions.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level - %msg%n"/>
		</File>
		<File name="errors_file" fileName="logs/errors.log">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] - %msg%n"/>
			<LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
		</File>
	</Appenders>
	<Loggers>
		<Root level="info">
			<AppenderRef ref="console"/>
			<AppenderRef ref="all_transactions"/>
			<AppenderRef ref="errors_file"/>
		</Root>
	</Loggers>
</Configuration>